<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1rl6pUsRvI7nqd5h8czZxS89LEjsOmOM</string>
	<key>GCM_SENDER_ID</key>
	<string>183759091193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apnasaloon.apnasaloon</string>
	<key>PROJECT_ID</key>
	<string>apnasaloon-c5142</string>
	<key>STORAGE_BUCKET</key>
	<string>apnasaloon-c5142.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183759091193:ios:7dd58f6cf5d15ee6017928</string>
</dict>
</plist>